body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
}

header {
    background-color: #DE2C2C;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header img {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between icon and text */
}